<%= card_format_plus(@model) do%>
  <%= model_panel(:game) do %>
    <table class="table table-sm align-middle my-1 table-striped">
      <thead>
      <tr>
        <th class="scope">name</th>
        <th class="scope">owner</th>
        <th class="scope">options</th>
      </tr>
      </thead>
      <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <td class="min-h-20"><%= resource.name %></td>
          <td class="min-h-20"><%= resource.owner.nick_name %></td>
          <% if resource.owner == current_user %>
            <td class="min-h-20">
              <%= edit_path(resource, false) %>
            </td>
          <% end %>
          <td>
            <%= button_to 'Join', game_path(resource) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
